<div class="container mt-5">
    <h2 class="text-center mb-4">Menu Admin </h2>
    <div class="row justify-content-center">
      <div class="col-md-4 mb-3">
        <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/gestion-formation']">
          <i class="fas fa-users"></i> gestion des formation
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/gestion-formateur']">
          <i class="fas fa-chalkboard-teacher"></i> gestion des formateurs
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/gestion-session']">
          <i class="fas fa-calendar-alt"></i> gestion des sessions
        </a>
      </div>
    </div>
  </div>